# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
www/css
www/lib/
dist/
npm-debug.log
#Eclipse IDE files
.settings
.project
#Netbeans IDE files.
/nbproject
