<h2>{{homeCtrl.d3Version}}</h2>
<div id='div1'>A</div>
<div id='div2'>B</div>
<div id='div3'>
 <p></p>
</div>
<div id='div4'>D</div>
<button ng-click='homeCtrl.render([5, 15])'>Take action!</button>
<svg width="800" height="800">
<!-- <circle cx="150" cy="150" r="100" -->
<!-- style="fill:red" opacity="0.5" /> -->
<!-- <circle cx="250" cy="150" r="100" -->
<!-- style="fill:green" opacity="0.5" /> -->
<!-- <circle cx="200" cy="250" r="100" -->
<!-- style="fill:rgba(0, 0, 255, 0.5)" /> -->
</svg>
<button ng-click='homeCtrl.test()'>Test!</button>
