<div class="home-container-top">
	<span class="section" style="width:100px">
		<div id="myPaletteDiv" class="block"></div>
	</span>

	<span class="section" style="width:70%">
		<div id="myDiagramDiv" class="block"></div>
	</span>

	<span class="section" style="width:20%">
		<div id="myTransactions" class="block">

			<div ng-repeat="transaction in homeCtrl.transactions"
					 ng-click="homeCtrl.renderTransaction(transaction)">{{transaction.amount}} {{transaction.currency}}-{{transaction.country}}</div>


		</div>
	</span>
</div>

<button type="button" ng-click="homeCtrl.loadWorkFlow()">Load</button>
<button type="button" ng-click="homeCtrl.exportWorkFlow()">Export</button>
<button type="button" ng-click="homeCtrl.cleanTransaction()">Clear transaction</button>

<span ng-if="homeCtrl.transactionResult">Transaction status: {{homeCtrl.transactionResult.status}} Message: {{homeCtrl.transactionResult.message}}</span>

<textarea style="width:100%;height:300px">
	{{homeCtrl.workFlowJSON}}
</textarea>
